.parkpic {
    /* height: 300px;
    width: 300px; */
    height: 50vh;
    width: 100vw;
    border-radius: 7.5%;
}

.parkcard {
    /* border-radius: 15%; */
    height: 50vh;
    width: 100vw;
    margin: 0;
    /* margin: 16px; */
}
