.detailparkpic {
    height: 380px;
    width: 380px;
}

.parkcard {
    border: 1px solid #f1f1f1;
    border-radius: 15%;
    height: 415px;
    width: 300px;
    margin: 16px;
}

#details-arrow{
    height: 4em;
    position: absolute;
    margin: 0.5em;
}

#ameneties-list {
    font-size: .85em;
}