#star-rating-container {
    display: inline-block;
}

#star-rating-container svg.col {
    fill: #FFB235;
    width: 1em;
}

h3 {
    color: #6AD627;
    font-family: raleway, sans-serif;
}

.address {
    font-family: raleway, sans-serif;
    font-weight: 200;
}

