#star-rating-container {
    display: flex !important;
    align-items: center !important;
}

#star-rating-container svg.col {
    fill: #FFB235 !important;
    width: 1em !important;
}

h3 {
    color: #6AD627 !important;
    font-family: raleway, sans-serif !important;
    font-size: 18px !important;
}

.address {
    font-family: raleway, sans-serif;
    font-weight: 200;
}

