#star-rating-container {

}

#star-rating-container svg {
    fill: #FFB239;
    width: 1.5em;
    height: 2em;
}

h3 {
    color: #6AD627 !important;
    font-family: raleway, sans-serif !important;
    font-size: 18px !important;
}

h2 {
    color: #6AD627 !important;
    font-family: raleway, sans-serif !important;
    font-size: 15px !important;   
}

.address {
    font-family: raleway, sans-serif !important;
    font-weight: 200 !important;
}

